accelerate==1.1.1
av==13.1.0
build
bitsandbytes==0.38.1
controlnet_aux==0.0.7
diffusers==0.19.3
einops==0.8.0
envlight @ git+https://github.com/ashawkey/envlight.git@05b5851e854429d72ecaf5b206ed64ce55fae677
gradio==4.11.0
h5py>=3.10.0
huggingface-hub==0.24.7
imageio==2.36.0
imageio-ffmpeg==0.5.1
jaxtyping==0.2.34
kornia==0.7.4
libigl==2.5.1
lightning==2.0.0
lpips==0.1.4
matplotlib==3.9.2
mediapipe
networkx
nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast.git@729261dc64c4241ea36efda84fbf532cc8b425b8
omegaconf==2.3.0
open-clip-torch==2.22.0
open3d==0.18.0
opencv-python==4.10.0.84
plyfile==1.1
protobuf
PyMCubes==0.1.6
pysdf==0.1.9
roma==1.5.1
safetensors==0.4.5
sentencepiece==0.2.0
tables
tabulate
taming-transformers-rom1504==0.0.6
tensorboard==2.18.0
timm==0.9.2
torchmetrics==1.6.0
transformers==4.46.2
trimesh==4.5.2
typeguard==2.13.3
wandb==0.18.7
xatlas==0.0.9
